<div class="content">
        <div class="text">
            <h2>Nos Projets</h2>
            <div class="line" style="width: 25%;"></div>
            <div class="container">
                <div class="carousel">
                    <div class="carousel-inner">
                        <!-- <div class="slide">
                            <img src="https://cdn.discordapp.com/avatars/1270525577605939201/a4aad70939fc1103597c06892307830c.webp" alt="Logo PixelPanda" loading="lazy">
                            <h3>
                                <span class="arrow right"></span>
                                <a href="/">PixelPanda</a>
                            </h3>
                            <p>PixelPanda est un bot discord développer par les soins de TeamFlash. Ce bot peux faire quelque chose mais sera plus utiliser sur le discord de mes étude.</p>
                        </div> -->
                        <div class="slide">
                            <img src="assets/images/projetLogo/TeamFlash-Corporation.png" alt="Logo TeamFlash" loading="lazy">
                            <h3>
                                <span class="arrow right"></span>
                                <a href="/">TeamFlash — Corporation</a>
                            </h3>
                            <p>Ce site professionnel est conçu pour présenter les projets que nous avons réalisés pour divers clients. Vous y trouverez une sélection de nos travaux, illustrant notre expertise et notre engagement à fournir des services de haute qualité. Chaque projet présenté ici reflète notre capacité à répondre aux besoins spécifiques de nos clients, qu'il s'agisse de particuliers ou d'entreprises. Nous vous invitons à parcourir nos réalisations pour découvrir comment nous pouvons vous aider à atteindre vos objectifs.</p>
                        </div>
                        <div class="slide">
                            <img src="https://www.streamify.teamflash.fr/assets/images/favicon.ico?V=7.1" alt="Logo Streamify" loading="lazy">
                            <h3>
                                <span class="arrow right"></span>
                                <a href="https://streamify.teamflash.fr/">Streamify</a>
                            </h3>
                            <p>Streamify est votre site de référence pour découvrir et suivre les dernières bandes-annonces de films et séries. Sur Streamify, vous pouvez regarder les bandes-annonces, consulter les fiches des acteurs, lire les synopsis détaillés, et ajouter vos films et séries préférés à votre liste de favoris. Que vous soyez cinéphile ou amateur de séries, Streamify vous offre une expérience complète pour explorer le monde du cinéma et de la télévision. Parcourez notre catalogue et découvrez bien plus encore sur Streamify.</p>
                        </div>
                        <div class="slide">
                            <img src="https://mixify.teamflash.fr/assets/img/logo.webp?V=1.0" alt="Logo Mixify" loading="lazy">
                            <h3>
                                <span class="arrow right"></span>
                                <a href="https://mixify.eamflash.fr/">Mixify</a>
                            </h3>
                            <p>Mixify est une plateforme dédiée à la création de bars virtuels pour des soirées entre amis. Sur Mixify, vous pouvez créer votre propre espace, inviter vos amis, et organiser des soirées conviviales, tout en partageant des cocktails et des discussions animées. La plateforme offre des fonctionnalités interactives pour personnaliser votre bar virtuel et rendre chaque soirée unique et mémorable. Que ce soit pour une fête d'anniversaire, une soirée à thème, ou simplement pour se retrouver, Mixify rend vos soirées plus fun et engageantes.</p>
                        </div>
                    </div>
                    <div class="carousel-controls">
                        <span id="prev" class="arrow left"></span>
                        <span id="next" class="arrow right"></span>
                    </div>
                    <div class="carousel-dots"></div>
                </div>
            </div>
        </div>
        <div class="image screenNone">
            <img src="/assets/images/section/projets1.png" alt="Projets" loading="lazy">
        </div>
    </div>