<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/assets/images/logo/initial.png" alt="Logo MecDu.Dev" />
      <h1>MecDu.Dev</h1>
    </div>
    <div class="footer-section">
      <h2>Contact</h2>
      <hr />
      <p>
        Email:
        <a href="mailto:contact@mecdu.dev" target="_blank"
          >contact&#64;mecdu.dev</a
        >
      </p>
      <p>
        LinkedIn:
        <a href="https://www.linkedin.com/in/amaury-maizy/" target="_blank"
          >MAIZY Amaury</a
        >
      </p>
    </div>
    <div class="footer-section">
      <h2>Suivez-nous</h2>
      <hr />
      <div class="center-content">
        <div class="footer-social">
          <div class="social-item">
            <a
              href="https://www.linkedin.com/company/mecdudev/"
              target="_blank"
            >
              <i class="bi bi-linkedin bi-2X"></i>
              <span>LinkedIn</span>
            </a>
          </div>
          <div class="social-item">
            <a href="https://github.com/ExostFlash" target="_blank">
              <i class="bi bi-github bi-2X"></i>
              <span>GitHub</span>
            </a>
          </div>
          <div class="social-item">
            <a href="https://www.instagram.com/mecdu.dev/" target="_blank">
              <i class="bi bi-instagram bi-2X"></i>
              <span>Instagram</span>
            </a>
          </div>
          <div class="social-item">
            <a href="https://discord.com/invite/dRjUH5qKZQ" target="_blank">
              <i class="bi bi-discord bi-2X"></i>
              <span>Discord</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <p>&copy; 2026 MecDu.Dev. Tous droits réservés.</p>
  </div>
</footer>
