<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/assets/images/logo/initial.png" alt="Logo TeamFlash">
            <h1>TeamFlash — Corporation</h1>
        </div>
        <div class="footer-section">
            <h2>Contact</h2>
            <hr>
            <p>Email: <a href="mailto:contact@teamflash.fr">contact&#64;teamflash.fr</a></p>
            <p>Web CV: <a href="https://am.teamflash.fr/">am.teamflash.fr</a></p>
        </div>
        <div class="footer-section">
            <h2>Suivez-nous</h2>
            <hr>
            <div class="center-content">
                <div class="footer-social">
                    <div class="social-item">
                        <a href="https://www.linkedin.com/in/amaury-maizy/">
                            <img src="/assets/images/socialMedia/icon-linkedin.png" alt="LinkedIn">
                            <span>LinkedIn</span>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="https://github.com/ExostFlashPRO">
                            <img src="/assets/images/socialMedia/icon-github.png" alt="GitHub">
                            <span>GitHub</span>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="https://www.instagram.com/exostflash_pro/">
                            <img src="/assets/images/socialMedia/icon-instagram.png" alt="Instagram">
                            <span>Instagram</span>
                        </a>
                    </div>
                    <div class="social-item">
                        <a href="https://discord.com/invite/zCDpgrW28F">
                            <img src="/assets/images/socialMedia/icon-discord.png" alt="Discord">
                            <span>Discord</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info">
        <p>&copy; 2025 TeamFlash. Tous droits réservés.</p>
    </div>
</footer>