<div class="content" id="abouts">
  <div class="text">
    <h2>À propos de nous</h2>
    <div class="line" style="width: 40%"></div>
    <p>
      Fondée en 2023 par
      <a href="https://www.linkedin.com/in/amaury-maizy/">Amaury MAIZY</a>,
      alias ExostFlash, <b>MecDu.Dev</b> se consacre principalement au
      développement backend, tout en offrant également des services de création
      front-end et de stockage de sites avec liens et adresses email. Notre
      expertise technique et notre passion pour l'innovation nous permettent de
      créer des solutions numériques sur mesure qui répondent aux besoins variés
      de nos clients.
    </p>
    <p>
      Chez <b>MecDu.Dev</b>, nous croyons en la puissance de la technologie pour
      transformer les idées en réalités tangibles. Nos projets en cours sont le
      reflet de notre vision et de notre engagement à apporter des solutions
      innovantes sur le marché.
    </p>
    <p>
      Notre mission est de repousser les limites de ce qui est possible avec la
      technologie, en créant des produits qui non seulement répondent aux
      besoins actuels, mais qui anticipent également les tendances futures. Nous
      nous engageons à fournir des solutions robustes, sécurisées et évolutives
      qui aident nos clients à réussir dans un monde numérique en constante
      évolution.
    </p>
    <p>
      Chez <b>MecDu.Dev</b>, chaque projet est une opportunité de faire preuve
      d'innovation et de créativité, tout en maintenant des standards élevés de
      qualité et de performance. Nous sommes impatients de collaborer avec vous
      et de transformer vos idées en succès numériques.
    </p>
  </div>
  <div class="image">
    <img
      src="/assets/images/section/aboutUs.png"
      alt="À propos de nous"
      loading="lazy"
    />
  </div>
</div>
