/* You can add global styles to this file, and also import other style files */
.active-link {
    color: #ffc107 !important; /* Jaune Bootstrap */
    font-weight: bold;
    border-bottom: 2px solid #ffc107;
}